In [88]:
# -*- coding: utf-8 -*-
import pymysql
import pandas

In [89]:
connection_to_Database = pymysql.connect(
    host        = "localhost"
    ,user       = "root"
    ,passwd     = "stufsno1"
    ,db         = "financials"
    ,use_unicode= True
    ,charset    = "utf8"
)

In [102]:
cursor_for_SQL  = connection_to_Database.cursor()
dataFrame = pandas.read_sql_query('SELECT * FROM Edinetcode', connection_to_Database)
#tempQueryText   = 'SELECT * FROM Edinetcode'
#tempQueryText   = 'SELECT * FROM Edinetcode WHERE Listed LIKE %s AND Industry LIKE %s'
#valuesInTempQuery = ['上場', '水産・農林業']

In [107]:
rows, columns = dataFrame.shape #
rows, columns

(3908, 13)

In [110]:
dataFrame.head(2) # print only 2 rows

,edinetCode,entityType,listed,consolidated,equityAmount,fiscalEnding,name,nameEnglish,ruby,address,industry,ticker,corporateNumber
0,E00004,内国法人・組合,上場,有,1491,5月31日,カネコ種苗株式会社,"KANEKO SEEDS CO., LTD.",カネコシュビョウカブシキガイシャ,前橋市古市町一丁目５０番地１２,水産・農林業,1376,5070001000715
1,E00006,内国法人・組合,上場,有,13500,5月31日,株式会社 サカタのタネ,SAKATA SEED CORPORATION,カブシキガイシャ サカタノタネ,横浜市都筑区仲町台２−７−１,水産・農林業,1377,6020001008662

In [111]:
dataFrame.tail(2) # print only alst 2 rows

,edinetCode,entityType,listed,consolidated,equityAmount,fiscalEnding,name,nameEnglish,ruby,address,industry,ticker,corporateNumber
3906,E34336,内国法人・組合,上場,有,35,10月末日,株式会社ギフト,GIFT INC.,カブシキカイシャギフト,町田市原町田六丁目２７番１９号,小売業,9279,3012301007868
3907,E34352,内国法人・組合,上場,有,333,9月末日,ＣＲＧホールディングス株式会社,"CRG HOLDINGS.,LTD.",シーアールジーホールディングスカブシキガイシャ,新宿区西新宿２−１−１,サービス業,7041,7011101067961

In [112]:
dataFrame.columns

Index(['edinetCode', 'entityType', 'listed', 'consolidated', 'equityAmount',
       'fiscalEnding', 'name', 'nameEnglish', 'ruby', 'address', 'industry',
       'ticker', 'corporateNumber'],
      dtype='object')

In [123]:
dataFrame['industry'].unique()

array(['水産・農林業', '建設業', '卸売業', '非鉄金属', '石油・石炭製品', 'サービス業', '機械', '鉱業',
       '金属製品', '不動産業', '情報・通信業', '食料品', '小売業', '化学', '繊維製品', '輸送用機器',
       '証券、商品先物取引業', 'ガラス・土石製品', '電気機器', 'その他製品', 'パルプ・紙', 'その他金融業',
       '医薬品', 'ゴム製品', '精密機器', '鉄鋼', '銀行業', '保険業', '陸運業', '倉庫・運輸関連', '海運業',
       '空運業', '電気・ガス業'], dtype=object)

In [ ]:
dataFrame[['edinetCode','name']]

In [127]:
dataFrame[['name','industry']][(dataFrame.industry == '水産・農林業')]

             name industry
0       カネコ種苗株式会社   水産・農林業
1     株式会社　サカタのタネ   水産・農林業
2      株式会社雪国まいたけ   水産・農林業
3         ホクト株式会社   水産・農林業
4       株式会社アクシーズ   水産・農林業
5         株式会社ホーブ   水産・農林業
7         株式会社　極洋   水産・農林業
8        日本水産株式会社   水産・農林業
9      マルハニチロ株式会社   水産・農林業
192      株式会社秋川牧園   水産・農林業
3375   ベルグアース株式会社   水産・農林業

In [80]:
cursor_for_SQL.execute(tempQueryText)
#cursor_for_SQL.execute(tempQueryText, valuesInTempQuery)
resultFromQuery = cursor_for_SQL.fetchall()
connection_to_Database.commit()

In [69]:
tempQueryText   = 'SELECT * FROM information_schema.columns '\
                + 'WHERE TABLE_NAME = "EdinetCode"'
cursor_for_SQL.execute(tempQueryText)
resultFromQuery = cursor_for_SQL.fetchall()
connection_to_Database.commit()
for record in resultFromQuery:
    print(record[3])

address
consolidated
corporateNumber
edinetCode
entityType
equityAmount
fiscalEnding
industry
listed
name
nameEnglish
ruby
ticker